<form action="/insertGlass" role="form">
	<fieldset>
		<legend>Add Glassware</legend>
		<label for="glassware">Glassware Type</label>
			<input type="text" name="glassware" class="form-control" value="">
		<label for="size">Size(oz)</label>
			<input type="number" name="size" class="form-control" value="">
		<label for="material">What is it made of?</label>
			<select name="" class="form-control">
				<option value="glass">Glass</option>
				<option value="plastic">Plastic</option>
				<option value="wood">Wood</option>
				<option value="metal">Metal</option>
			</select>
		<label for="size">Serving Size (oz): 
			<input type="number" class="form-control" name="size" value="">
		</label>
	</fieldset>
	<input type="submit" class="btn btn-info" name="addGlass" value="Add Glassware">
</form>