<h2>Introduction to Google Analytics</h2>
<a href="https://developers.google.com/analytics/devguides/platform/"><h3>What is Google Analytics?</h3></a>
<p>Google analytics is a freemium service provided by Google, that was originally launched in 2005. It provides web managers with data they can use to improve their product. Users may get information about the number of new visitors that are visiting their site and where they came from. Previous versions of Google Analytics tracking code were criticized as adding the extra tracking services affected site performance, however, in 2009, Google released an asynchronous version which helped alliviate this issue.</p>
<h3>Why would you want it on your site?</h3>
<p>Analytics services like Google Analytics are popular for Businesses because they give you all of the information you need to know to increase your web traffic and hopefully your profits.   Business managers can use information from the service to help make business decisions about the success of certain marketing campaigns, the penetrance and popularity of social media performance, the popularity of certain products and much more. Using this information managers can reconstruct their site/application to emphasize these things, or to change them if they are not performing at the level they expect. That way managers can always know how to improve their sites content and the user experience.</p>
<h3>What kind of information can you get from Google Analytics?</h3>
<h4>The Dashboard</h4>
<p>Google Analytics provides users with a dashboard interface where they can view a variety of different metrics. Google provides API's for users to customize their dashboard so that they can get the information most important to them and their business.</p><br>
<div class = "well-lg">	
	<img src="/images/dashboardExample.jpg" alt="Dashboard_Example">
</div>
<br>
<h4>Where are the users coming from?</h4>
<p>A popular feature with Analytics is tracking incoming traffic, and conversion tracking from several sites including Facebook, Twitter, and Yelp. With this data you can measure the Return on Investment of several different marketing campaigns at a time. Google Analytics allows users to track incoming traffic from ads, social media and other online marketing tools.</p><br>
<h4>Geographic Tracking</h4>
<p>Google Analytics can also give users input on where their visitors are from based on their IP address. This can give business managers clues on who is checking out their site and perhaps whether they need to make changes to their marketing strategy to capture visitors from a certain location.</p><br>
<div class = "well-lg">
	<img src="/images/geography.png" alt="geography_Example">
</div><br>	
<h4>Click/Mouse Travel Tracking</h4>
<p>Another popular capability is the ability to track users movement through the page. With Google Analytics you can see what people are looking at when they visit your page. With this information you can identify what items are doing well and which are performing poorly. This will allow you to create more content that people will like and hopefully get them to visit your page longer and click more links!</p>
<h3><a href="/setup">Initial Setup</a></h3>

