<h2>Linking your Account to the API</h2>
<h3>Accessing The Google APIs</h3>
<p>To get started you must visit the <a href="https://console.developers.google.com">Google Developers Console</a>.</p><br>
<ol>
<li>Click on Credentials in the left panel, select credentials, then Select Service Account.
<div class="well-sm">
	<img src="/images/addCred.png" alt="addKey">
</div>
</li>
<li>Download the JSON file from the link and save it.
<div class="well-sm">
	<img src="/images/jsonKey.png" alt="jsonKeyLink">
</div>
</li>
<li>In the credentials file there will be an email address, you will need this later when you link it to your account</li>
<pre>
<code>"account-1@username-1111.iam.gserviceaccount.com"</code>	
</pre>
<li>Now enter your Account Dashboard for Google Analytics and Create a new user in the Property Section with the email you copied and set it's permissions to "Read and Analyze"</li>
<div class="well-sm">
	<img src="/images/userManagement.png" alt="userManage">
</div>
<li>Finally go to the View Section of the Dashboard and copy the View ID, as you will need it later.</li>
</ol>
<br>
<h3><a href="/core">Google Core Analytics API</a></h3>