<!doctype html>
<html>
<head>
	<link rel="icon" href="/images/Google-Analytics-icon.png"/>
	<title>Google Analytics How To</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="/css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><img id="logo" src="/images/Google-Analytics-icon.png" alt="google_analytics_icon"></a>
	    </div><!--navbarHeader-->
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div><!--container-->
	</nav>
	<div class="jumbotron"><!--JumboTron-->
		<div class="col-sm-8">
			<h1 style="display: inline-block">How To Set Up your personal site with Google Analytics and Use the Core Reporting API</h1>
		</div>
	</div><!--JumboTron-->
  
	<div class="row main">
		<div class="col-sm-3 col-xs-6" id="sidebar">
		  <ul class="list-group" id="sidebar">
		    <a href="/"><li class="list-group-item">Intro to Google Analytics</li></a>
		    <a href="/setup"><li class="list-group-item">Initial Setup</li></a>
		    <a href="/node"><li class="list-group-item">Linking to the Google API</li></a>
		    <a href="/core"><li class="list-group-item">Google Core Reporting API</li></a>
		    <a href="/universal"><li class="list-group-item">Universal Analytics Module</li></a>
		  </ul>
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-8">
			{{{body}}}
		</div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li><a href="/">1</a></li>
	    <li><a href="/setup">2</a></li>
	    <li><a href="/node">3</a></li>
	    <li><a href="/core">4</a></li>
	    <li><a href="/universal">5</a></li>
	  </ul>
	</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src="/js/analytics2.js"></script>
</body>
</html>